.contact-container{
    position: relative;
    background-color: #fff0ce;
    height: 97.6vh;
.form-container{
    margin:0;
    padding:0;
    // margin: auto 0;
    margin-left: 25%;
    // margin-top: 5%;
    transform: translateY(14%);
    background-color: rgba(131,180,179, 1);
    width: 68%;
    height: 76vh;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(131,180,179, .5);
    border-radius: 10px;
    h2{
        margin: 0 0 30px;
        padding: 0;
        color: #383838;
        text-align: center;
        font-size:3rem;
    }
    .input-container{
        position: relative;
        display: flex;
        input{
            width: 100%;
            padding: 10px 0;
            font-size:1.6rem;
            color: #383838;
            letter-spacing: 1px;
            margin-bottom: 30px;
            border:none;
            border-bottom: 3px solid #383838;
            outline: none;
            background: transparent;
        }
        label{
            position: absolute;
            top: 0;
            left:0;
            padding: 10px 0;
            font-size:1.6rem;
            // font-weight: 800;
            letter-spacing: 1px;
            color: #383838;
            pointer-events: none;
            transition: .5s;
        }
        input:focus ~ label,
        input:valid ~ label{
            top:-28px;
            left: 0;
            color: #383838;
            font-size:1.2rem;
        }
    }
    button{
        background: transparent;
        border: none;
        outline: none;
        color:#fff0ce;
        background: #383838;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }
    .contact-icons{
        position: absolute;
        bottom: 1%;
        right: 4%;
        img{
            margin-left: 35px;
            cursor: pointer;
        }
    }
}
}