.contact-container{
    position: relative;
    background-color: #fff0ce;
    height: 97.6vh;
    overflow: hidden;
    @include mobile{
        width:100%;
        height:100%;
        padding-bottom: 38%;
    }
.form-container{
    margin:0;
    padding:0;
    margin-left: 25%;
    transform: translateY(14%);
    background-color: rgba(131,180,179, 1);
    width: 68%;
    height: 76vh;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(131,180,179, .5);
    border-radius: 10px;
    @include mobile{
        padding: 0;
        margin: 0;
        transform: translateY(0%);
        width: 90%;
        height: 100%;
        margin: 5% auto;
        margin-top: 10%;
    }
    h2{
        margin: 0 0 30px;
        padding: 0;
        color: #383838;
        text-align: center;
        font-size:3rem;
        @include mobile{
            padding: 0;
            margin: 0;
            font-size: 2rem;
            padding: 8% 0;
        }
    }
    .input-container{
        position: relative;
        display: flex;
        input{
            width: 100%;
            padding: 10px 0;
            font-size:1.6rem;
            color: #383838;
            letter-spacing: 1px;
            margin-bottom: 30px;
            border:none;
            border-bottom: 3px solid #383838;
            outline: none;
            background: transparent;
            @include mobile{
                width:80%;
                margin: 0 auto;
                margin: 10% auto;
            }
        }
        label{
            position: absolute;
            top: 0;
            left:0;
            padding: 10px 0;
            font-size:1.6rem;
            letter-spacing: 1px;
            color: #383838;
            pointer-events: none;
            transition: .5s;
            @include mobile{
                margin: 0 auto;
                left: 10%;
                top: 28%;
            }
        }
        input:focus ~ label,
        input:valid ~ label{
            top:-28px;
            left: 0;
            color: #fff0ce;
            font-size:1.4rem;
            @include mobile{
                left: 10%;
                top: 2%;
            }
        }
    }
    button{
        background: transparent;
        border: none;
        outline: none;
        color:#fff0ce;
        background: #383838;
        padding: 10px 20px;
        font-size:1.4rem;
        cursor: pointer;
        border-radius: 5px;
        @include mobile{
            position: absolute;
            right:10%;
        }
    }
    .contact-icons{
        position: absolute;
        bottom: 4%;
        right: 4%;
        @include mobile{
            left: 0;
            right: 0;
            // position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top:30%;
        }
        img{
            margin-left: 45px;
            cursor: pointer;
            @include mobile{
                width: 15%;
                margin: 0 auto;
            }
        }
    }
}
}
.circle-one{
    height:250px;
    width: 250px;
    background: rgb(255,240,206);
    background: linear-gradient(220deg, rgba(255,240,206,1) 0%, rgba(213,85,52,1) 100%);
    border-radius: 50%;
    position: absolute;
    top:4rem;
    left: 3rem;
    position: fixed;
}
.circle-two{
    height:175px;
    width: 175px;
    background: rgb(255,240,206);
    background: linear-gradient(331deg, rgba(255,240,206,1) 0%, rgba(213,85,52,1) 100%);
    border-radius: 50%;
    position: absolute;
    top:22rem;
    left: 14rem;
}
.circle-three{
    height:222px;
    width: 222px;
    background: rgb(255,240,206);
background: linear-gradient(142deg, rgba(255,240,206,1) 0%, rgba(213,85,52,1) 100%);
    border-radius: 50%;
    position: absolute;
    bottom:1rem;
    left: 1rem;
}