.desktop{
    position: relative;
    height:100%;
    width: 100%;
    .resume{
        z-index: 10;
        position: fixed;
        right:2rem;
        top: 2rem;
        img{
            width: 2.5rem;
            height: 2.5rem;
            filter: drop-shadow(2px 2px 2px $light-grey);
        }
    }

    .dark{
        z-index: 10;
        position: fixed;
        left: 12%;
        top: 2rem;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        img{
            height: 100%;
           
        }
    }

}