@import url('https://fonts.googleapis.com/css?family=Merriweather|Liu+Jian+Mao+Cao|Nothing+You+Could+Do|Montserrat&display=swap');
@import 'reset.scss';
@import './variables.scss';
@import './mixins.scss';
@import './nav.scss';
@import './LandingPage.scss';
@import './Projects.scss';
@import './Contact.scss';
@import './About.scss';
@import './Footer.scss';


.desktop{
    position: relative;
    height:100%;
    width: 100%;
    .resume{
        z-index: 1;
        position: absolute;
        right:2rem;
        top: 2rem;
        img{
            width: 2.5rem;
            height: 2.5rem;
        }
    }

}


