@import './variables.scss';
@import './nav.scss';
@import './LandingPage.scss';
@import './Projects.scss';
@import './Contact.scss';

.page{
    position: absolute;
    left:0;
    right:0;
}

.fade-appear
.fade-enter{
    opacity: 0;
    z-index: 1;
}
.fade-appear-active
.fade-enter.fade-enter-ective{
    opacity: 1;
    transition: opacity 500ms ease-in-out 150ms
}

.fade-exit{
    opacity: 1;
}

.fade-exit.fade-exit-active{
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}