@import url('https://fonts.googleapis.com/css?family=Merriweather|Liu+Jian+Mao+Cao|Nothing+You+Could+Do|Montserrat&display=swap');
@import 'reset.scss';
@import './variables.scss';
@import './mixins.scss';
@import './nav.scss';
@import './LandingPage.scss';
@import './Projects.scss';
@import './Contact.scss';
@import './About.scss';

.page {
    position: absolute;
    left: 0;
    right: 0;
    @include mobile{
        position: relative;
     }
}

.fade-appear .fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active .fade-enter.fade-enter-ective {
    opacity: 1;
    transition: opacity 500ms ease-in-out 150ms
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.construction{
    font-family: 'Montserrat', 'Merriweather', 'Times New Roman', Times, serif;
    height: 100vh;
    width: 100vw;
    font-size: 3rem;
    line-height: 1.33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $background-color;
    color:$green;
    font-weight:800;
    p{
        width:90%;
        span{
            color: $orange;
        }
    }
}