@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
.landing-container{
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    background: $background-color;
    overflow: hidden;
    @include mobile {
        height:98vh;
    }

    .web{
        color:$landing-font-background;
        position: absolute;
        bottom: 40%;
        left:12%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            font-size: 14rem;
            font-weight:700;
            letter-spacing: .5rem;
        }
        .opening-tags{
            color: $green;
            font-size: 1.2rem;
        }
        .web-text{
            position: relative;
            .hello{
                font-size:5.5rem;
                // margin:  0 0;
                position: absolute;
                right:-43%;
                transform: rotate(-90deg);
                color:$font-color;
                .period{
                    color:$orange;
                }
        }
        }
    }
    .dev{
        color:$landing-font-background;
        position: absolute;
        bottom: 8%;
        left:23%;
        display:flex;
        flex-direction: column;
        p{
        justify-content: space-between;
        font-size: 14rem;
        letter-spacing: .5rem;
        font-weight:700;
        }
        .closing-tags{
            font-size: 1.2rem;
            color: $green;
            text-align: right;
        }
    }
    .name{
        position: absolute;
        font-size:8rem;
        letter-spacing: .07rem;
        color:$font-color;
        text-align: left;
        left: 60%;
        bottom: 20%;
        span{
            color:$green
        }
    }
    h2{
        font-size: 4rem;
        color:  $font-color ;
        text-shadow: 2px 2px 1px #000000;
        letter-spacing: 1.5px;
        line-height: 2;
        width: 100%;
        padding: 60px;
        text-align: right;
        
    }
    .role-landing_page{
        @include mobile{
            font-size: 2rem;
            padding: 20px;
            margin-right: 10%;
            position: absolute;
            width: 80%;
            top:40%;
            padding: 0;
        }
    }
}
.hide{
    display: none;
}