@import url('https://fonts.googleapis.com/css?family=Merriweather|Liu+Jian+Mao+Cao|Nothing+You+Could+Do|Montserrat&display=swap');
.landing-container{
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    background: $background-color;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    @include mobile {
        height:98vh;
    }
    .web{
        color:$landing-font-background;
        position: absolute;
        bottom: 40%;
        left:13.5%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Montserrat', 'Merriweather', 'Times New Roman', Times, serif;
        p{
            font-size: 14rem;
            font-weight:700;
            letter-spacing: .5rem;
        }
        .opening-tags{
            color: $green;
            font-size: 1.2rem;
            font-family: 'Nothing You Could Do','Liu Jian Mao Cao', 'Merriweather', 'Times New Roman', Times, serif;
        }
        .web-text{
            position: relative;
            .hello{
                font-size:5.5rem;
                font-family: 'Montserrat', 'Merriweather', 'Times New Roman', Times, serif;
                position: absolute;
                left:84%;
                letter-spacing: 1rem;
                transform: rotate(-90deg);
                color:$font-color;
                .period{
                    color:$orange;
                }
        }
        }
    }
    .dev{
        color:$landing-font-background;
        position: absolute;
        bottom: 8%;
        left:24.5%;
        display:flex;
        flex-direction: column;
        font-weight:700;
        font-family: 'Montserrat', 'Merriweather', 'Times New Roman', Times, serif;
        p{
        justify-content: space-between;
        font-size: 14rem;
        letter-spacing: .5rem;
        
        }
        .closing-tags{
            font-size: 1.2rem;
            color: $green;
            text-align: right;
            font-family: 'Nothing You Could Do', 'Liu Jian Mao Cao', 'Merriweather', 'Times New Roman', Times, serif;
        }
    }
    .name-container{
        color:$font-color;
        max-width: 40%;
        height:100%;
        font-family: 'Montserrat', 'Merriweather', 'Times New Roman', Times, serif;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left:62%;
        .name{
        font-size:7.8rem;
        font-weight: 800;
        line-height:1.5;
        }
        span{
            color:$green
        }
        .role{
            font-size:1.2rem;
            text-align: right;
            margin: 0 12% 5% 0;
            line-height: .5;
        }
    }
    h2{
        font-size: 4rem;
        color:  $font-color ;
        text-shadow: 2px 2px 1px #000000;
        letter-spacing: 1.5px;
        line-height: 2;
        width: 100%;
        padding: 60px;
        text-align: right;
        
    }
    .role-landing_page{
        @include mobile{
            font-size: 2rem;
            padding: 20px;
            margin-right: 10%;
            position: absolute;
            width: 80%;
            top:40%;
            padding: 0;
        }
    }
}
.hide{
    display: none;
}