
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Handlee|Lateef|Marck+Script|Rock+Salt|Merriweather&display=swap');

.nav-bar{
    position: fixed;
    height: 90vh;
    width: 15%;
    left: 2.2%;
    z-index: 10;
    top:2rem;
    background: rgb(34,40,49);
    background: linear-gradient(133deg, rgba(34,40,49,.5) 19%, rgba(210, 165, 216,.5) 50%, rgba(180,199,231,.5) 74%);
    @include mobile{
        height:10vh;
        width: 100vw;
        top: 90%;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(210, 165, 216,1);
    }
    .nav-links{
        width: 82.4%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color : #ffffff ;
        font-size: 2rem;
        list-style: none;
        font-family: 'Merriweather', 'Times New Roman', Times, serif;
        :hover{
            font-size: 2.2rem;
        }
        @include mobile{
            width:100%;
            height: 100%;
            flex-direction: row;
            font-size: 1.4rem;
            margin: auto 0;
            transform: translateX(-4%);
        }
        .nav-item{
            cursor: pointer;
            text-align: center;
            margin-right: 40px;
            width: 100%;
            @include mobile{
                text-align: left;
            }
        }
}
}
.projects-nav{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(56,56,56, .5) 0%, rgba(56,56,56,0.5) 90% );
}
.contact-nav{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(56,56,56, .56) 0%, rgba(56,56,56,0.54) 90% );
}