
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Handlee|Lateef|Marck+Script|Rock+Salt|Merriweather&display=swap');

.nav-bar{
    position: fixed;
    height: 90vh;
    width: 15%;
    left: 2.2%;
    z-index: 10;
    top:2rem;
    background: rgb(34,40,49);
    background: linear-gradient(133deg, rgba(34,40,49,.5) 19%, rgba(191,0,255,.5) 50%, rgba(180,199,231,.5) 74%);
    .nav-links{
        width: 82.4%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color : #ffffff ;
        font-size: 2rem;
        list-style: none;
        font-family: 'Merriweather', 'Times New Roman', Times, serif;
        :hover{
            font-size: 2.2rem;
        }
        .nav-item{
            cursor: pointer;
            text-align: center;
            margin-right: 40px;
            width: 100%;
            
        }
}
}
.projects-nav{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(55,227,181,1) 0%, rgba(78,228,126,0.54) 90% );
}