
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Handlee|Lateef|Marck+Script|Rock+Salt|Merriweather&display=swap');

.nav-bar{
    height:20vh;
    width: 100%;
    background: $primary-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo-container{
        height: 100%;
        width: 15%;
        font-family: 'Rock Salt';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 3rem;
        .first-name{
            margin:0;
            transform: rotate(-2deg);
            transform: translate(-50%, 50%);
            color:$background-color ;
            z-index:1;
            text-shadow: 1px 1px 2px $primary-color;
        }
        .first-name:hover{
                color: darken($background-color, 5%);
                text-shadow: 1px 1px 5px $secondary-color;
                cursor: pointer;
            }
        .last-name{
            margin:0;
            transform: rotate(22.5deg);            
            transform: translate(10%,-40%);
            margin-left: 26px;
            z-index: 0;
            color: $background-color;
            text-shadow: 1px 1px 2px $primary-color;
        }
        .last-name:hover{
            color: darken($background-color, 5%);
            text-shadow: 1px 1px 5px $secondary-color;
            cursor: pointer;
        }
    }
    .nav-links{
        width: 35%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color : $background-color;
        font-size: 2rem;
        list-style: none;
        margin-bottom: 10px;
        font-family: 'Merriweather', 'Times New Roman', Times, serif;
        margin-right:20px;
        :hover{
                color:$background-color;
                text-shadow: 1px 1px 2px $shadow-color;
                cursor: pointer;
            }  
}
}