.projects-section{
    width: 80%;
    height: 100%;
    margin-left: 19%;
    h1{
        font-size:3.6rem;
        text-align: left;
    }
    .projects-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        .project-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 50px;
            padding-bottom: 50px;
            border-bottom: 4px solid rgba(78,228,126,0.54);
            .project-header{
                font-size:2.6rem;
                width: 90%;
                margin-left: 20px;
            }
            img{
                width: 100%;
                height:auto;
            }
            .project-description{
                font-size:1.6rem;
                line-height: 1.5;
                width: 90%;
                margin-left: 20px;

            }
            .project-links{
                .project-link{
                    margin: 0 0 20px 20px;
                    a{
                        font-size:1.4rem;
                        text-decoration: none;
                        width: 90%;
                    }
                }
            }
        }
    }
}